<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prodacts</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 mt-4"><h1>Prodacts</h1></div>
        <div class="Category col-sm-12">
          <div class="container">
            <div class="row allCategory"></div>

        
          <!-- <div class="row mt-5">
            <div class="row  col-sm-12 ">
              <div class="Category ">
                
              </div>
            </div>
         
          </div>  -->
        </div>
       

        </div>
        <div class="container p-5 ">
          <div class="row mt-5 Products"></div>
        </div>
      </div>
    </div>

    <script src="/src/Components/products/mainproducts.js"></script>
  </body>
</html>



      






















<!-- 
<div class="col-sm-12 d-flex p  mb-3">
  <div class="card" productID="${product.ProductId}" style="width: 100%;">
    <div class="card-header" data-bs-toggle="collapse" data-bs-target="#${collapseId}" style="cursor: pointer;">
      <div class="d-flex justify-content-between">
        <h5 class="mb-0 pt-1">#${product.ProductCode}</h5>
     
      </div>
    </div>
    
    <div id="${collapseId}" productCode="${product.ProductCode}" class="collapse show">
      
      <div class="d-flex flex-sm-column flex-md-row"> 
        <div class="me-3" style="flex: 0 0 30%;"> 
          <img src="${product.ProductImage}" class="img-fluid rounded-start w-50 "  alt="${product.ProductName}">
        </div>
        
        <div class="card-body" style="flex: 1;"> 
          <div class="d-flex flex-column w-100">
            <span><strong>Product Name:</strong> ${product.ProductName}</span>
            <span><strong>Price:</strong> ${product.ProductPrice} EGP</span>
            <span><strong>Available:</strong> ${product.ProductCount} pieces</span>
            <span><strong>Colors:</strong> ${product.ProductColor}</span>
            <span><strong>Size:</strong> ${product.ProductSize}</span>
            <span><strong>Description:</strong></span>
            <p class="text-muted">${product.ProductDescription}</p>
            <hr>
             <span><strong>Review:</strong></span>
            <p class="text-muted">${product.ProductDescription}</p>
            <div class="d-flex flex-row-reverse mt-3">
           
              <button class="btn btn-outline-danger  ms-3 deleteProduct" 
           data-productid="${product.ProductId}" 
           data-productcategory="${product.ProductCategory}" 
           data-bs-toggle="modal" 
           data-bs-target="#DeleteBtn">
           <i class="fa-solid fa-trash"></i>                      
                Delete
              </button>
<button class="btn btn-outline-primary updateProduct" 
                      data-page="addproduct/product.html" 
                      data-productid="${product.ProductId}" 
                      data-productcategory="${product.ProductCategory}"
                      data-bs-toggle="modal" 
                      data-bs-target="#UpdateBtn">
                <i class="fas fa-edit me-2"></i>Update
              </button>

            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div> -->